<a href="https://colab.research.google.com/github/Clinton1029/Data_analysis/blob/main/Data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1) DataAcquisition Using the Iris Dataset

In [1]:
import os          # For interacting with the operating system
import pandas as pd  # For data analysis and CSV handling

In [3]:
#loading the dataset
file_path = "/content/IRIS1.csv"
if os.path.exists(file_path):
    data = pd.read_csv(file_path)
    print("CSV file loaded successfully")
else:
    print("Cannot load CSV â€” file not found")

CSV file loaded successfully

In [6]:
# Display first 5 rows
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [7]:
# Display first 5 rows
data.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [8]:
# Number of observations (rows) and features (columns)
num_observations, num_features = data.shape

print("Number of observations (rows):", num_observations)
print("Number of features (columns):", num_features)

Number of observations (rows): 150
Number of features (columns): 5

## 2) DataStructure Inspection

In [9]:
# Display data types of each column
data.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

### 2b) Numerical (Continuous):
Variables measured on a continuous scale and usually stored as float

### Numerical (Discrete):
Countable variables stored as integers (int)

### Categorical:
Variables representing labels or groups, stored as object or category

### 3) Target Variable

#### a) Target (Dependent) Variable

The target (dependent) variable in the Iris dataset is:

species

#### b) Role of the Target Variable in the Analysis

The target variable species represents the class or outcome that the analysis aims to predict.
It indicates the type of iris flower (Setosa, Versicolor, or Virginica) based on the measured features of the flower.

#### c) Justification for Choosing species as the Target Variable

The choice of species as the target variable is justified because:

The primary objective of the Iris dataset is classification of iris flowers

The remaining variables (sepal length, sepal width, petal length, petal width) are predictor features

Flower species naturally depends on physical measurements

#### d) Nature of the Target Variable and Implications for Model Selection

Type of Target Variable:
Categorical

Implications for Model Selection:

The problem is a classification task, not regression

Suitable models include:

Logistic Regression (multiclass)

Decision Trees

Random Forest

Support Vector Machines (SVM)

k-Nearest Neighbors (kNN)
Regression models are not appropriate, since the target does not represent numerical values

#### e) Use of the Target Variable in Machine Learning / Statistical Modeling

In a modeling task, the target variable will be:

Separated from the feature set:

Features (X): Sepal length, sepal width, petal length, petal width

Target (y): Species

Used to:

Train the model by learning relationships between features and species

Evaluate model performance using metrics such as:

Accuracy

Precision

Recall

Confusion matrix

Encoded numerically (e.g., label encoding) to make it usable by machine learning algorithms